<%- include("./partials/header"); -%> 


<main>
    <aside>
        
    </aside>
    <aside>
        <h1 class="text-center">Hey <%= user.fname %>!</h1>
    </aside>



</main>


<%- include("./partials/footer"); -%> 